@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  background-color: #e5e5e5;
  background-position: 0 60px;
  background-size: 380px;
}

.background {
  position: absolute;
  background-image: url("Images/background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 50px;
  width: 100%;
  height: 718px;
  background-color: #ffff;
  z-index: -999;
  border-bottom-left-radius: 80px;
}

.header-content {
  max-width: 85%;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .header-content {
  max-width: 90%;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 90%;
  margin: 90px auto;
  font-size: 28px;
  color: #172b4d;
  font-family: "poppins", sans-serif;
  font-weight: bolder;
  line-height: 52px;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 24px;
  color: #6070ff;
  font-family: "poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-decoration: none;
}

.nav-container .categories {
  display: none;
  width: 300px;
  justify-content: space-between;
}

.categories .category {
  list-style: none;
}

.category .link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 20;
  font-family: "poppins", sans-serif;
}

.hamburger {
  display: block;
  width: 20px;
}

main #lead {
  display: flex;
  align-items: center;
  height: 600px;
  margin-top: 1px;
}

.lead-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 430px;
  margin-top: -60px;
  margin-bottom: 10px;
}

#work-section {
  margin-top: 260px;
}

.lead-content .heading h1 {
  max-width: 319px;
  font-size: 43px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-top: 50px;
}

.lead-content .section-content {
  font-size: 16px;
  color: #344563;
  max-width: 326px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  font-family: "poppins", sans-serif;
  margin: 11px 2px 10px 2px;
}

.social-network {
  color: #7f8cff;
  font-size: 15px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  text-decoration: none;
  margin: 0 9px 9px 9px;
  display: flex;
}

.lead-content .social-network {
  color: #7f8cff;
  margin-top: -5px;
  font-size: 15px;
  margin-left: 3px;
  margin-bottom: 1;
}

.social-network-content {
  display: flex;
  justify-content: space-between;
  width: 177px;
  margin-left: 1px;
  margin-top: -7px;
}

.header {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}

.section-text {
  flex: 1;
  margin-top: 1px;
}

/* @media only screen and (min-width: 600px) {
  .nav-container .categories {
    display: flex;
  }

  .hamburger {
    display: none;
    width: 30px;
  }
}

@media only screen and (min-width: 450px) {
  .background {
    background-size: cover;
  }
} */

#Work {
  margin-top: 150px;
}

.content-work {
  display: grid;
  gap: 60px;
}

.card {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 5px;
  background-color: #fff;
  border: 1px solid #dfe1e5;
  border-radius: 16px;
  flex-direction: column;
  max-width: 325px;
}

.list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.list-element {
  font-size: 13px;
  font-weight: 600;
}

.list-element.text-grey {
  color: #7a869a;
}

.card-photo {
  width: 100%;
  border-radius: 8px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #c1c7d0;
  border-radius: 50px;
}

.card-title {
  max-width: 295px;
  height: 36px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

ul {
  list-style-type: none;
}

.card-description ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.canopy {
  color: #344563;
  width: 55px;
  height: 16px;
  font-weight: 600;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: "poppins", sans-serif;
  font-size: 13px;
  line-height: 16px;
}

.back-end-dev {
  width: 88px;
  height: 16px;
  font-style: normal;
  font-weight: 600;
  color: #7a869a;
  font-family: "poppins", sans-serif;
  font-size: 13px;
  line-height: 16px;
}

.year {
  width: 29px;
  height: 16px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-content p {
  width: 295px;
  height: 76px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.button .btn {
  background-color: #ffff;
  padding: 12px;
  border: 1px solid #6070ff;
  color: #6070ff;
  font-weight: 500;
  font-size: 17px;
  border-radius: 8px;
}

.button .btn:hover {
  background-color: #6070ff;
  border: 1px solid #6070ff;
  color: #fff;
}

.button .btn:active {
  background-color: #2230d2;
  border: 1px solid #2230d2;
  color: #fff;
}

#About {
  background-color: #ffff;
  border-top-right-radius: 85px;
}

#About .title {
  padding-top: 100px;
  font-size: 45px;
  max-width: 200px;
}

#About .description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
}

#About .connectt {
  font-size: 16px;
  font-weight: 500;
  color: #7f8cff;
  margin-top: -15px;
}

#About .about-me-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#About .bottom-content {
  display: flex;
  flex-direction: column;
}

.social-network-content1 {
  display: flex;
  gap: 15px;
}

.resume-button .btnn {
  border-radius: 8px;
  font-weight: 500;
  color: #6070ff;
  background-color: transparent;
  font-size: 17px;
  padding: 12px;
  border: 1px solid #6070ff;
}

.card-languages {
  display: flex;
  gap: 10px;
}

.lan span {
  color: #6070ff;
  background-color: #ebebff;
  padding: 4px 12px 4px 12px;
  border-radius: 8px;
  font-size: 12px;
  font-family: "poppins", sans-serif;
  font-weight: 500;
}

details {
  font-size: 1rem;
  background: #fff;
  border-radius: 6px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #e2e8f0;
}

summary {
  user-select: none;
  list-style: none;
  padding: 1em;
  font-weight: 500;
}

summary::-webkit-details-marker {
  display: none;
}

.summary-chevron-up svg {
  opacity: 0.5;
}

.summary-chevron-up,
.summary-chevron-down {
  pointer-events: none;
  position: absolute;
  top: 0.75em;
  right: 1em;
  background: #ffff;
  display: block;
}

summary:focus {
  outline: none;
}

summary:hover .summary-chevron-up svg {
  opacity: 1;
}

.langs {
  cursor: default;
  padding: 1em;
  font-weight: 300;
  line-height: 1.5;
}

.langg {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f7f7f9;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 8px;
}

.langgg {
  color: #253858;
  font-size: 15px;
  font-weight: 500;
}
